h1{
    font-family: 'Fugaz One', cursive;
}
 
h2{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

.nav{
    color:rgba(255, 255, 255, 0.8);
    text-shadow: none;
    font-size:30px;
    position: fixed;
    top: 30px;
    right: 30px;
}

.nav:hover{
    color:white;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    cursor: default;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20px;
    bottom: 20px;
    right: 20px;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
  
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
  
.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: -15px;
right: 15px;
font-size: 34px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}